body {
    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
}

.project-sidebar {
    border-right: 5px solid white;
    overflow: auto;
    
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 10%;
    gap: 5px;
}

.project-selector {
    background-color: rgb(50, 169, 209);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.project-selector:hover {
    box-shadow: 0px 2px 3px black;
}

.project-display-area {
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: calc(20% + 5px) calc(80% - 5px);
    gap: 5px;
}

.project-info {
    background-color: rgb(50, 169, 209);
    
    display: grid;
    grid-template-rows: 50% 50%;
}

.project-info .project-title {
    font-size: 3rem;
    justify-self: center;
}

.project-info .project-functionality {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100%;
    place-items: center;
}

.item-list {
    display: grid;
}